@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.heading{
  padding: 5rem;
}

.input{
  color: black;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 2%;
  padding: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.loadingBar {
  width: 20px; 
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-left: 7rem;
  transform: rotate(180deg);
}
.skeletonBar {
  background-color: rgb(2, 184, 50); 
  
  transform-origin: bottom;
  animation: slide 1.5s linear forwards;  /* Set the transform origin to the bottom for vertical animation */
}

@keyframes slide {
  0% {
    
    transform: translateY(0%);
  }
  100% {
    
    transform: translateY(var(--healthScore));
  }
}

.submitbutton{
  margin-top: 2rem;
  background-color: white;
  color: black;
  padding: 2%;
}